

.cover{
    display: flex;
    width : 100vw;
    height : fit-content;
    justify-content: center;
    align-items: center;
    margin : 30px auto;
}
.cover img{
    width: 40%;
}
.cover h2{
    font-size: x-large;
    font-family : "Mochiy Pop One"
}
.cover hr{
    height: 10px;
    width : 300px;
    background-color: orangered;
    margin: -30px 0px 20px 0px;
}
.form{
    width: 50%;
    padding-top: 30px;
    font-family: Poppins;
}
.form input{
    background : none;
    border : 1px solid #345995;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 15px;
}
.form button{
    height: 42px;
    background : #345995;
    width : 80px;
    color : white;
    margin-left: 10px;
    border : none;
    border-radius: 5px;
}
.form button:hover, .form label:hover{
    background : #345995;
    color : #fff;
    border : none;
    cursor: pointer;
}

.form .wordlist{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width : 50vw;
    height: fit-content;
}
.form label{
    border : 1px solid #345995;
    padding : 5px 10px;
    margin : 10px 10px 0px 0px;
    font-size: small;
    color : #345995;
    border-radius: 3px;
}
